.all-playlists-container {
	border-left: 1px solid rgba(147, 149, 152, 0.9);
	border-right: 1px solid rgba(147, 149, 152, 0.9);
	border-bottom: 1px solid rgba(147, 149, 152, 0.9);
	border-radius: 0 6px 6px 6px;
	position: absolute;
	left: 0;
	top: 52px;
	width: 180px;
	background: rgba(147, 149, 152, 0.9);
	overflow: hidden;

	ul.playlists {
		margin: 15px;

		li {
			cursor: pointer;
			font-size: 0.8em;
			margin: 10px 0;
			line-height: 1.2em;
			width: 1024px;
		}
	}
}