body {
	background: #fff;
}

#logo {
	position: absolute;
	top: 18px;
	left: 50%;
	margin-left: -112px;
	z-index: 20;
}

#logo img {
	width: 224px;
}

#appBase {
	background: #aaa;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
}

#controlsLeft {
	background: rgba(119, 120, 123, 0.9);
	height: 45px;
	position: absolute;
	left: 0;
	z-index: 20;
}