body {
	background: #fff;
}

#logo {
	left: 50%;
	margin-left: -132px;
	position: absolute;
	top: 20px;
	z-index: 20;
}

#logo img {
	width: 264px;
}

.controls {
	height: 52px;
	position: absolute;
	top: 34px;
	z-index: 20;
	color: #fff;
	font-family: Arial, sans-serif;
	letter-spacing: 0.3em;
}

.controls .controls-inner {
	background: rgba(59, 60, 62, 0.9);
	float: left;
}

.controls .edge {
	width: 13px;
	height: 52px;
	display: block;
	position: absolute;
	height: 52px;
	top: 0;
	background-image: url(../img/controls-edge-sprite.png);
}

.controls .secondary-controls {
	float: left;
	height: 52px;
	background: rgba(119, 120, 123, 0.91);
	position: relative;
}

.controls .secondary-controls .edge {
	position: absolute;
	height: 52px;
	width: 26px;
	top: 0;
}

.controls#controlsRight .secondary-controls {
	margin-left: 26px;
}

.controls#controlsRight .secondary-controls .edge {
	margin-left: 26px;
	left: -52px;
	background-position: -91px 0;
}

.controls#controlsLeft .secondary-controls {
	margin-right: 26px;
}

.controls#controlsLeft .secondary-controls .edge {
	margin-right: 26px;
	right: -52px;
	background-position: -117px 0;
}

.controls a {
	line-height: 52px;
	float: left;
	color: #fff;
	letter-spacing: 0.3em;
	padding: 0 8px;
	text-transform: uppercase;
	font-size: 11px;
	text-decoration: none;
	vertical-align: middle;
}

.controls img {
	vertical-align: middle;
}

#controlsLeft {
	left: 0;
}

#controlsLeft .edge {
	right: -13px;
	background-position: -65px;
}

#controlsRight {
	right: 0;
}

#controlsRight .edge {
	left: -13px;
	background-position: 0;
}

#appBase {
	background: #aaa;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 10;
}

.playlist-control {
	overflow: hidden;
	min-width: 360px;
}

.playlist-control .toggle-playlist {
	cursor: pointer;
	float: left;
	width: 11px;
	height: 52px;
	background-image: url(../img/icon_arrow-down.png);
	background-size: 11px 8px;
	background-repeat: no-repeat;
	background-position: center center;
	width: 65px;
}

.playlist-control .toggle-playlist.open {
	background-image: url(../img/icon_arrow-up.png);
}

.playlist-control .now-playing {
	min-width: 155px;
	height: 44px;
	overflow: hidden;
	padding: 8px 8px 0;
	float: left;
}

.playlist-control .now-playing .playing-title {
	font-size: 11px;
	text-transform: uppercase;
	margin: 0 0 3px;
}

.playlist-control .now-playing .playing-subtitle {
	font-size: 11px;
	margin: 0;
	letter-spacing: 0.1em;
}

.playlist-control .transport {
	float: left;
	height: 52px;
	line-height: 52px;
	vertical-align: middle;
	padding: 0 8px;
}

.playlist-control .transport .back {
	cursor: pointer;
	display: inline-block;
	width: 11px;
	height: 13px;
	background: url(../img/icon_skip-left.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.playlist-control .transport .forward {
	cursor: pointer;
	display: inline-block;
	width: 11px;
	height: 13px;
	background: url(../img/icon_skip-right.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.playlist-control .transport .play-pause {
	cursor: pointer;
	display: inline-block;
	width: 22px;
	height: 26px;
	background: url(../img/icon_play-sm.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	vertical-align: middle;
}

.playlist-container {
	position: absolute;
	width: 294px;
	left: 66px;
	top: 52px;
	background: #fff;
}