/* fonts */

/* League Gothic Regular */
@font-face {
    font-family: 'League Gothic';
    src: url('fonts/leaguegothic-regular-webfont.eot');
    src: url('fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguegothic-regular-webfont.woff') format('woff'),
         url('fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
         url('fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
	height: 100%;
}

body {
	height: 100%;
	overflow: auto;
}

#main {
	min-width: 1160px;
	min-height: 100%;
	position: relative;
}

#appBase {
	background: #aaa;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

#logo {
	left: 50%;
	margin-left: -132px;
	position: absolute;
	top: 20px;
	z-index: 30;
}

#logo img {
	width: 264px;
}

/* controls areas to left and right of window */
.controls {
	height: 52px;
	position: absolute;
	top: 34px;
	z-index: 30;
	color: #fff;
	font-family: Arial, sans-serif;
	letter-spacing: 0.3em;
}

.controls .edge {
	width: 13px;
	height: 52px;
	display: block;
	position: absolute;
	height: 52px;
	top: 0;
	background-image: url(../img/controls-edge-sprite.png);
}

.controls#controlsLeft {
	left: 0;
}

.controls#controlsLeft .edge {
	right: -13px;
	background-position: -65px;
}

.controls#controlsRight {
	right: 0;
}

.controls#controlsRight .edge {
	left: -13px;
	background-position: 0;
}

.controls .controls-inner {
	background: rgba(59, 60, 62, 0.9);
	float: left;
}

.controls .secondary-controls {
	float: left;
	height: 52px;
	background: rgba(119, 120, 123, 0.91);
	position: relative;
}

.controls .secondary-controls .edge {
	position: absolute;
	height: 52px;
	width: 26px;
	top: 0;
}

.controls#controlsLeft .secondary-controls {
	margin-right: 26px;
}

.controls#controlsLeft .secondary-controls .edge {
	margin-right: 26px;
	right: -52px;
	background-position: -117px 0;
}

.controls#controlsRight .secondary-controls {
	margin-left: 26px;
}

.controls#controlsRight .secondary-controls .edge {
	margin-left: 26px;
	left: -52px;
	background-position: -91px 0;
}

.controls .controls-inner > a,
.controls .secondary-controls > a {
	line-height: 52px;
	color: #fff;
	letter-spacing: 0.3em;
	padding: 0 4px;
	text-transform: uppercase;
	font-size: 11px;
	text-decoration: none;
	vertical-align: middle;
}

.controls .controls-inner > a {
	padding-right: 0;
}

.controls .controls-inner > a:before {
	content: "|";
	padding-right: 10px;
}

.controls .controls-inner > a:first-child {
	padding-left: 12px;
}

.controls .controls-inner > a:first-child:before {
	content: none;
}

.controls .controls-inner > a:last-child {
	padding-right: 55px;
}

.controls img {
	vertical-align: middle;
}

/* stories / remix slider */
.stories-remix-slider {
	float: left;
	width: 137px;
	height: 52px;

	a.remix-toggle {
		color: #fff;
		display: block;
		height: 34px;
		margin: 10px 0 0 35px;
		position: relative;
		width: 90px;
		text-decoration: none;

		.slider-track {
			background: #77787b;
			border-radius: 2px;
			height: 34px;
			position: absolute;
			right: 10px;
			top: 0;
			width: 4px;

			.slider {
				position: absolute;
				left: -9px;
				top: 0;
				background: url(../img/toggle-slider.png);
				width: 23px;
				height: 11px;
				-webkit-transition: top 0.5s linear;
			}
		}

		.label {
			color: #6a6c6b;
			font-size: 11px;
			letter-spacing: 0.1em;
			text-transform: uppercase;
			display: block;
			text-align: right;
			width: 60px;
			margin-bottom: 14px;
		}

		.label.stories {
			color: #fff;
		}

		&.remix {

			.slider {
				top: 23px;
			}

			.label.stories {
				color: #6a6c6b;
			}

			.label.remix {
				color: #fff;
			}

		}

	}	
}

/* map featured item popup */
.map-featured {
	width: 234px;
	height: 229px;
	position: absolute;
	z-index: 15;
}

.map-featured .marker {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: url(../img/marker-circle.png);
	z-index: -1;
}

.map-featured .content {
	font-family: Arial, sans-serif;
	text-align: center; 
	width: 218px;
	height: 218px;
	border-radius: 109px;
	margin-left: 11px;
	margin-top: 5px;
	z-index: 20;
	overflow: hidden;
	background-clip: padding-box;
}


.map-featured .content .top {
	height: 109px;
	background: rgba(39,121,155,0.5);
	overflow: hidden;
}
.map-featured .content .bottom {
	height: 109px;
	background: rgba(61,115,138,0.67);
	overflow: hidden;
}

.map-featured h3 {
	font-size: 10px;
	line-height: 1.5em;
	color: #f5f5f5;
	text-transform: uppercase;
	margin: 38px auto 14px;
	width: 65%;
	letter-spacing: 0.3em;
}

.map-featured .attrib {
	font-size: 9px;
	line-height: 1.5em;
	color: #f5f5f5;
	width: 85%;
	letter-spacing: 0.2em;
}

.map-featured h4 {
	font-size: 10px;
	line-height: 1.5em;
	color: #f5f5f5;
	text-transform: uppercase;
	margin: 12px auto 6px;
	width: 85%;
	letter-spacing: 0.3em;
}

.map-featured .in-playlists a {
	display: block;
	font-size: 10px;
	line-height: 1.5em;
	color: #f5f5f5;
	text-transform: uppercase;
	margin: 6px auto;
	width: 85%;
	letter-spacing: 0.3em;
	text-decoration: none;
}

.map-featured a:hover {
	color: #3c3d3f;
}