
#marker-container {	display:none; }

.back-to-map{
	background:url(../img/back-to-map.png);
	background-position-y: -23px;
	width: 229px;
	height: 50px;
	display:none;
}


.rollover-title-wrapper
{
	background:;
	position:absolute;
	background: rgba(163,214,234,0.7);
	border-radius: 109px;
	box-shadow: 0px 5px 20px;
	font-family: 'Verdana', sans-serif;
	width: 228px;
	height: 228px;

	.marker-container
	{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: url(../img/marker-circle.png);
		background-position: -5px 0px;
		background-repeat:none;
	}

	.rollover-title
	{

		height: 50%;
		position: absolute;
		width: 100%;
		text-align: center;
		h2
		{
			bottom:0;
			position: absolute;
			font-weight: bold;
			width:100%;
			text-transform:uppercase;
		}
	}
}


.map-featured
{
	top:30px;
	left:0px;
	width: 228px;
	height: 228px;
	position: absolute;
	
	.marker
	{
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: url(../img/marker-circle.png);
		background-position: -5px 0px;
		background-repeat:none;
		z-index: -1;
	}

	.content
	{
		color:black;
		font-family: 'Verdana', sans-serif;
		text-align: center; 
		width: 218px;
		height: 218px;
		border-radius: 109px;
		margin-left: 5px;
		margin-top: 5px;
		z-index: 20;
		overflow: hidden;
		position:absolute;
		background-clip: padding-box;
		background: rgba(163,214,234,0.8);

		.top,.bottom
		{
			position:absolute;
			width:100%;
		}

		.top
		{
			//border-radius: 109px 109px 0 0;
			height: 50%;

			h2
			{
				bottom:0;
				font-weight: bold;
				font-size: 9px;
				margin-bottom: 15px;
				position: absolute;
				width:100%;
				letter-spacing: 0.3em;
				line-height: 1.5em;
			}
		}

		.bottom
		{
			top:50%;
			border-radius: 0 0 109px 109px;
		}
	}

	h3
	{
		line-height: 1.5em;
		width: 65%;
		letter-spacing: 0.3em;
	}

	h4
	{
		font-size: 10px;
		line-height: 1.5em;
		text-transform: uppercase;
		margin: 12px auto 6px;
		width: 85%;
		letter-spacing: 0.3em;
	}
	.attrib
	{
		font-size: 9px;
		line-height: 1.5em;
		color: #f5f5f5;
		width: 85%;
		letter-spacing: 0.2em;
	}

	.in-playlists a
	{
		display: block;
		font-size: 12px;
		font-weight:bold;
		line-height: 1.5em;
		color: black;
		text-transform: uppercase;
		margin: 6px auto;
		letter-spacing: 0.3em;
		text-decoration: none;
	}

	a:hover { color: #3c3d3f; }

}
