.leaflet-popup-close-button{
	display:none !important;
}

.leaflet-popup-tip{
  display:none !important;
}
.leaflet-popup-content-wrapper{
	background:transparent !important;
	box-shadow: none !important;
-moz-box-shadow: none !important;
-webkit-box-shadow: none !important;

}



.leaflet-control-attribution {
	
	display: none !important;

}

#base-map {
 position:absolute;
 
 width:100%;
 height:100%;
 overflow:hidden;

}