.modal-overlay {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgba(60,61,63,0.9);
	z-index: 20;
	overflow: hidden;
}

.modal-overlay .modal {
	width: 780px;
	margin: 0 auto;
	position: absolute;
	top: 190px;
	bottom: 20px;
	left: 50%;
	margin-left: -390px;
}

.modal-overlay .modal .close-modal {
	cursor: pointer;
	position: absolute;
	right: -16px;
	top: -16px;
	width: 32px;
	height: 32px;
	text-indent: -9999px;
	background: url(../img/modal-close.png);
	border: 0;
}

.modal-overlay .modal .modal-content {
	color: #f5f5f5;
	font-family: Arial, sans-serif;
}

/* content directly in modal-content */
.modal-overlay .modal .modal-content h1 {
	color: #f5f5f5;
	font-size: 24px;
	letter-spacing: 0.2em;
	text-align: center;
	font-family: 'League Gothic';
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 20px;
}

.modal-overlay .modal .modal-content .modal-textblock {
	overflow: auto;
	position: absolute;
	left: 0;
	top: 35px;
	bottom: 35px;
	right: 0;
}

.modal-overlay .modal .modal-content .modal-textblock p {
	letter-spacing: 0.1em;
	line-height: 1.5em;
	font-size: 13px;
	margin-bottom: 15px;
	text-align: center;
	width: 730px;
}

.modal-overlay .modal .modal-content .modal-textblock h1 {
	margin: 32px 0 24px;
}

.modal-overlay .modal .modal-content .modal-textblock h2 {
	font-family: Arial, sans-serif;
	font-size: 13px;
	letter-spacing: 0.3em;
	line-height: 1.5em;
	margin: 24px 0;
	text-align: center;
	text-transform: uppercase;
}

.modal-overlay .modal .modal-content .modal-textblock .section:after {
	content:"";
	display: block;
	width: 8px;
	border-top: 1px solid #f5f5f5;
	margin: 24px auto;
}

.modal-overlay .modal .modal-content .modal-textblock h2:before

.modal-overlay .modal .modal-content p.intro {
	font-family: Arial, sans-serif;
	font-size: 13px;
	letter-spacing: 0.3em;
	line-height: 1.5em;
	margin: 20px 0;
	text-align: center;
	text-transform: uppercase;
}

/* info box definitions */
.modal-content .info-box {
	color: #77787B;
	font-family: Arial, sans-serif;
	padding: 27px;
}

/* tall two-up */
.modal-content .info-box-split {
	margin: 45px auto 0;
	overflow: hidden;
}

.modal-content .info-box-split .info-box {
	width: 313px;
	height: 421px;
	background: url(../img/info-box-tall.png);
}

.modal-content .info-box-split .info-box.left {
	float: left;
}

.modal-content .info-box-split .info-box.right {
	float: right;
}

/* wide */
.modal-content .info-box.wide {
	background: url(../img/info-box-wide.png);
	width: 663px;
	height: 264px
}

/* info-box content */
.modal-content .split {
	overflow: hidden;
}

.modal-content .split-left {
	float: left;
	width: 50%;
}

.modal-content .split-right {
	float: right;
	width: 50%;
}


.modal-content .info-box h2 {
	color: #333132;
	font-size: 24px;
	letter-spacing: 0.2em;
	text-align: center;
	text-transform: uppercase;
	font-family: 'League Gothic';
	font-weight: bold;
	margin: 0 0 20px;
	line-height: 1.3em;
}

.modal-content .info-box p {
	letter-spacing: 0.1em;
	line-height: 1.4em;
	font-size: 13px;
}

.modal-content .info-box p.intro {
	margin: 15px 0;
}

.modal-content .info-box p.action {
	font-size: 11px;
	font-style: italic;
	text-align: center;
	margin-top: 17px;
}

.modal-content .info-box p.action a {
	color: #77787B;
}

.modal-content .info-box li {
	letter-spacing: 0.1em;
	line-height: 1.4em;
	font-size: 13px;
}

.modal-content .info-box ol li {
	list-style-type: decimal;
	margin-left: 48px;
}

.modal-content .info-box strong {
	color: #333132;
	font-weight: bold;
}

.modal-content .info-box .record-btn {
	background: url(../img/record-icons-sprite.png);
	display: block;
	margin: 17px auto 26px;
	width: 65px;
	height: 64px;
	text-indent: -9999px;
}

.modal-content .info-box .record-btn:hover {
	background-position: -65px 0;
}

.modal-content .info-box .record-btn.stop {
	background-position: -130px 0;
}

.modal-content .info-box .record-btn.stop:hover {
	background-position: -195px 0;
}

.modal-content .info-box .record-btn.play {
	background-position: -260px 0;
}

.modal-content .info-box .record-btn.play:hover {
	background-position: -325px 0;
}

.modal-content .info-box .sc-display {
	background: #222;
	border: 5px solid #000;
	padding: 8px;
	position: relative;
}

.modal-content .info-box .sc-display #sc-record-progress {
	color: #fff;
	display: block;
	font-size: 24px;
}

.modal-content .info-box .sc-display #sc-record-status {
	color: #fff;
}

.modal-content .info-box .sc-display #recording-options {
	overflow: hidden;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 50%;
	text-align: right;
}

.modal-content .info-box #recording-options #sc-upload {
	cursor: pointer;
	color: #46c1ee;
	font-size: 13px;
	font-weight: bold;
	padding-bottom: 14px;

}

.modal-content .info-box #recording-options #sc-cancel-record {
	cursor: pointer;
	color: #ff8e4d;
	font-size: 12px;
}

.modal-content .info-box .remix-sites-list {
	margin: 20px auto;
	overflow: hidden;
	text-align: center;
	width: 180px;
}

.modal-content .info-box .remix-sites-list li {
	width: 56px;
	height: 56px;
	display: inline-block;
	margin: 0 -5px;
}

.modal-content .info-box .remix-sites-list li span {
	cursor: pointer;
	width: 37px;
	height: 37px;
	display: block;
	text-indent: -9999px;
	margin: 9px auto;
	background-repeat: no-repeat;
}

.modal-content .info-box .remix-sites-list li.flickr span {
	background-image: url(../img/icon-flickr.png);
}

.modal-content .info-box .remix-sites-list li.instagram span {
	background-image: url(../img/icon-instagram.png);
}

.modal-content .info-box .remix-sites-list li.soundcloud span {
	background-image: url(../img/icon-soundcloud.png);
}

.modal-content .info-box .remix-sites-list li.vimeo span {
	background-image: url(../img/icon-vimeo.png);
}

.modal-content .info-box .remix-sites-list li.youtube span {
	background-image: url(../img/icon-youtube.png);
}

.modal-content .info-box .remix-sites-list li.active {
	background: url(../img/share-icon-outline.png);
}

.modal-content .info-box label {
	display: block;
	font-size: 13px;
	letter-spacing: 0.15em;
	margin: 6px 0;
}

.modal-content .info-box input[type=text] {
	border: none;
	border-radius: 3px;
	width: 295px;
	height: 14px;
	padding: 2px 4px;
	margin-bottom: 10px;
}

.modal-content .info-box textarea {
	border: none;
	width: 100%;
	height: 130px;
	color: red;
	margin-bottom: 10px;	
}

.modal-content .info-box .btn-submit {
	background: url(../img/btn-submit.png);
	border: none;
	cursor: pointer;
	float: right;
	height: 35px;
	text-indent: -9999px;
	width: 90px;
}