
/* playlist rollout */
.playlist-container
{
	border-left: 1px solid rgba(147,149,152,0.9);
	border-right: 1px solid rgba(147,149,152,0.9);
	border-bottom: 1px solid rgba(147,149,152,0.9);
	border-radius: 0 0 6px 6px;
	position: absolute;
	width: 293px;
	left: 137px;
	top: 52px;
	background: rgba(147,149,152,0.9);
	overflow: hidden;

	#playlist-map{
		width:293px;
		height:127px;
		background:green;
	}
	#playlist-map-wrapper{
		width:293px;
		height:127px;
	}

	

	ul.playlist
	{
		border-top: 1px solid #58595b;
		border-bottom: 1px solid #58595b;
		margin-bottom: 23px;

		li
		{
			line-height: 22px;
			border-top: 1px solid #58595b;
			padding-left: 18px;
			font-size: 11px;
			letter-spacing: 0.2em;
			vertical-align: middle;
			overflow: hidden;

			&:first-child
			{
				border-top: none;
			}
			&.active
			{
				background: #f26532;
			}

			.play-pause-frame
			{
				float: left;
				width: 7px;
				height: 22px;
				cursor: pointer;
				background: url(../img/icon_play-sm.png) no-repeat center;
				background-size: 7px 9px;
				vertical-align: middle;
				&.pause
				{
					background-image: url(../img/icon_pause-sm.png);
					background-size: 7px 10px;
				}
			}

			.media-type
			{
				float: left;
				width: 14px;
				height: 22px;
				vertical-align: middle;
				background-repeat: no-repeat;
				background-size: 14px 11px;
				background-position: center;
				margin-left: 5px;
				
				&.audio
				{
					background-image: url(../img/icon_audio.png);
				}
				&.video
				{
					background-image: url(../img/icon_video.png);
				}
			}

			.media-name-wrapper {
				float: left;
				height: 22px;
				overflow: hidden;
				position: relative;
				width: 240px;

				.media-name {
					position: absolute;
					left: 0;
					right: 0;
					height: 22px;
					width: 1024px;
				}

			}
		}
	}

	.related
	{
		h3
		{
			padding: 12px 0 17px;
			text-align: center;
			font-size: 10px;
			letter-spacing: 0.2em;
			text-transform: uppercase;
			background: url(../img/playlist-divider.png) no-repeat bottom;
		}
		ul
		{
			overflow: hidden;
			margin: 7px 0 9px;
		}
		ul li
		{
			width: 50%;
			height: 18px;
			text-align: center;
			float: left;
		}
		ul a
		{
			display: block;
			font-size: 11px;
			letter-spacing: 0.2em;
			color: #fff;
			text-decoration: none;
			&:hover
			{
				color: #434446;
			}
		}
	}
}
