
/* playlist control */
.playlist-control
{
	float: left;
	overflow: hidden;
	width: 300px;

	.toggle-playlist
	{
		cursor: pointer;
		float: left;
		width: 41px;
		height: 52px;
		background-image: url(../img/icon_arrow-down.png);
		background-size: 11px 8px;
		background-repeat: no-repeat;
		background-position: center center;
		border-left: 1px solid #535453;
		border-right: 1px solid #535453;

		&.open
		{
			background-image: url(../img/icon_arrow-up.png);
		}
	}

	.now-playing
	{
		width: 155px;
		height: 43px;
		overflow: hidden;
		margin: 9px 0 0 18px;
		position: relative;
		float: left;

		.playing-title-wrap
		{
			font-size: 11px;
			text-transform: uppercase;
			margin: 0 0 4px;
			position: absolute;
			left: 0;
			top: 0;
			width: 1024px;
		}

		.playing-subtitle-wrap
		{
			font-size: 10px;
			margin: 0;
			letter-spacing: 0.1em;
			position: absolute;
			left: 0;
			top: 15px;
			width: 1024px;
		}

		.progress-bar
		{
			background: #77787b;
			border-radius: 2px;
			cursor: pointer;
			height: 4px;
			left: 26px;
			right: 27px;
			margin-top: 6px;
			position: absolute;
			top: 25px;

			.elapsed
			{
				border-radius: 2px;
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				width: 0%;
				background: #f1f1f1;
			}
		}

		.playing-time {
			font-size: 9px;
			color: white;
			position: absolute;
			top: 29px;
			letter-spacing: 0;

			&.time-elapsed {
				left: 0;
			}

			&.time-duration {
				right: 0;
			}
		}
	}

	.transport {
		float: left;
		height: 52px;
		line-height: 52px;
		vertical-align: middle;
		margin: 0 5px 0 13px;


		.back, .forward, .play-pause {
			&:hover{
				-webkit-filter: drop-shadow(0 0 5px #3CF);
				-moz-filter: drop-shadow(0 0 5px #3CF);
				-ms-filter: drop-shadow(0 0 5px #3CF);
				-o-filter: drop-shadow(0 0 5px #3CF);
				filter: drop-shadow(0 0 5px #3CF);
			}
		}

		.disabled {
			opacity: 0.1;
			&:hover{
				-webkit-filter: none;
				-moz-filter: none;
				-ms-filter: none;
				-o-filter: none;
				filter: none;
			}
		}

		.back {
			cursor: pointer;
			display: inline-block;
			width: 11px;
			height: 13px;
			background: url(../img/icon_skip-left.png);
			background-size: 100% 100%;
			background-repeat: no-repeat;
			vertical-align: middle;
		}
		.forward {
			cursor: pointer;
			display: inline-block;
			width: 11px;
			height: 13px;
			background: url(../img/icon_skip-right.png);
			background-size: 100% 100%;
			background-repeat: no-repeat;
			vertical-align: middle;
		}
		.play-pause {
			cursor: pointer;
			display: inline-block;
			width: 22px;
			height: 26px;
			background: url(../img/icon_pause-sm.png);
			background-size: 100% 100%;
			background-repeat: no-repeat;
			vertical-align: middle;

			&.paused {
				background: url(../img/icon_play-sm.png);
				background-size: 100% 100%;
				background-repeat: no-repeat;
				vertical-align: middle;		
			}
		}
	}

}
