.spotlight-shelf {
	height: 0;
	width: 804px;
	position: absolute;
	left: 50%;
	margin-left: -402px;
	bottom: 0;
	background: red;

	.shelf-tab {
		background: rgba(60,61,63,0.9) url(../img/carat-small-white-up.png) no-repeat center 10px;
		border-radius: 6px 6px 0 0;
		color: #fff;
		cursor: pointer;
		font-family: Arial, sans-serif;
		font-size: 11px;
		height: 230px;
		left: 272px;
		letter-spacing: 0.3em;
		padding-top: 24px;
		position: absolute;
		text-align: center;
		text-transform: uppercase;
		top: -44px;
		width: 260px;
		z-index: 20;

		&.active {
			background-image: url(../img/carat-small-white-down.png);
		}
	}

	.shelf-content {
		height: 300px;
		position: absolute;
		top: 0;
		left: 0;
		width: 804px;
		z-index: 10;
		opacity: 0;

		.region {

			position: absolute;
			top: 0;
			height: 228px;
			width: 228px;

			&.spotlight-one {
				left: 20px;
			}
			
			&.spotlight-two {
				left: 288px;
			}

			&.spotlight-three {
				left: 556px;
			}

		}

		.spotlight-title-wrapper {
			background: rgba(255,255,255,0.6);
			border-radius: 109px;
			box-shadow: 0px 5px 20px;
			/*display:none;*/
			font-family: 'florencesans', sans-serif;
			height: 218px;
			position:absolute;
			width: 218px;
			
			.marker-container {
				position: absolute;
				left: -10px;
				top: -5px;
				background: url(../img/marker-circle-orange.png);
				background-repeat:no-repeat;
				width: 234px;
				height: 229px;
			}

			.rollover-title {

				height: 50%;
				position: absolute;
				width: 100%;
				text-align: center;
				h2
				{
					bottom:0;
					color:#222;
					position: absolute;
					font-weight: bold;
					padding: 0 10%;
					text-transform:uppercase;
				}
			}

			.rollover-meta {
				position: absolute;
				top: 50%;
				width: 100%;
				text-align: center;
				color: #222;
				font-size: 12px;
				margin-top: 10px;
			}

			.rollover-thumb {
				width: 100%;
				position: absolute;
				z-index: -1;
				left: 0;
				top: 0;
				border-radius: 109px;
			}

		}

		.spotlight-featured {
			display: none;
			height: 228px;
			left:-5px;
			position: absolute;
			top: -2px;
			width: 228px;

			.marker {
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				background: url(../img/marker-circle.png);
				background-position: -5px 0px;
				background-repeat:none;
				z-index: -1;
			}

			.content {
				box-shadow: 0px 5px 20px;
				color:#222;
				font-family: 'florencesans', sans-serif;
				text-align: center; 
				width: 218px;
				height: 218px;
				border-radius: 109px;
				margin-left: 5px;
				margin-top: 5px;
				z-index: 20;
				overflow: hidden;
				position:absolute;
				background-clip: padding-box;
				background: rgba(246,147,106,0.8);

				.top, .bottom {
					position:absolute;
					width:100%;
				}

				.top {
					height: 50%;

					h2 {
						bottom:0;
						font-weight: bold;
						font-size: 9px;
						margin-bottom: 15px;
						position: absolute;
						width:100%;
						letter-spacing: 0.3em;
						line-height: 1.5em;
					}
				}

				.bottom
				{
					top:50%;
					border-radius: 0 0 109px 109px;
				}
			}

			h3
			{
				line-height: 1.5em;
				width: 65%;
				letter-spacing: 0.3em;
			}

			h4
			{
				font-size: 10px;
				line-height: 1.5em;
				text-transform: uppercase;
				margin: 12px auto 6px;
				width: 85%;
				letter-spacing: 0.3em;
			}
			.attrib
			{
				font-size: 9px;
				line-height: 1.5em;
				color: #f5f5f5;
				width: 85%;
				letter-spacing: 0.2em;
			}

			.in-playlists a
			{
				display: block;
				font-size: 12px;
				font-weight:bold;
				line-height: 1.5em;
				color: #222;
				text-transform: uppercase;
				margin: 6px auto;
				letter-spacing: 0.3em;
				text-decoration: none;
			}

			.in-playlists a:hover
			{
				color: orangeRed;
				text-shadow: 0 0 5px orange;
				-webkit-transition: color 0.2s linear;
				-moz-transition: color 0.2s linear;
				-ms-transition: color 0.2s linear;
				-o-transition: color 0.2s linear;
				transition: color 0.2s linear;
			}
			


		}

	}
}