[class^="zicon-"]
{
	display: inline-block;
	width: 12px;
	height: 10px;
	vertical-align: text-top;
	background-image: url(../img/sprite_media-icons.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
	background-size: auto 100%;
}

.zicon-mixin(@xpos,@ypos)
{
	background-position: (@xpos*-20px)	(@ypos*-20px);
}

.zicon-video
{
	background-position: 0 0;
}
.zicon-audio
{
	background-position: -12px 0;
}

[class^="amm-dot-"]
{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url('../img/map-dots-blue-20px.png');
	background-position: 0px 0px;
	background-repeat: no-repeat;

	&.dot-red{ background-image: url('../img/map-dots-red-20px.png'); }
}

.amm-dot-mixin(@xpos,@ypos)
{
	background-position: (@xpos*-20px)	(@ypos*-20px);
}

.amm-dot-0{ .amm-dot-mixin(0,0) }
.amm-dot-1{ .amm-dot-mixin(1,0) }
.amm-dot-2{ .amm-dot-mixin(2,0) }
.amm-dot-3{ .amm-dot-mixin(3,0) }
.amm-dot-4{ .amm-dot-mixin(4,0) }
.amm-dot-5{ .amm-dot-mixin(5,0) }
.amm-dot-6{ .amm-dot-mixin(6,0) }
.amm-dot-7{ .amm-dot-mixin(7,0) }
.amm-dot-8{ .amm-dot-mixin(8,0) }
.amm-dot-9{ .amm-dot-mixin(9,0) }
.amm-dot-10{ .amm-dot-mixin(0,1) }
.amm-dot-11{ .amm-dot-mixin(1,1) }
.amm-dot-12{ .amm-dot-mixin(2,1) }
.amm-dot-13{ .amm-dot-mixin(3,1) }
.amm-dot-14{ .amm-dot-mixin(4,1) }
.amm-dot-15{ .amm-dot-mixin(5,1) }
.amm-dot-16{ .amm-dot-mixin(6,1) }
.amm-dot-17{ .amm-dot-mixin(7,1) }
.amm-dot-18{ .amm-dot-mixin(8,1) }
.amm-dot-19{ .amm-dot-mixin(9,1) }
.amm-dot-20{ .amm-dot-mixin(0,2) }
.amm-dot-21{ .amm-dot-mixin(1,2) }
.amm-dot-22{ .amm-dot-mixin(2,2) }
.amm-dot-23{ .amm-dot-mixin(3,2) }
.amm-dot-24{ .amm-dot-mixin(4,2) }
.amm-dot-25{ .amm-dot-mixin(5,2) }
.amm-dot-26{ .amm-dot-mixin(6,2) }
.amm-dot-27{ .amm-dot-mixin(7,2) }
.amm-dot-28{ .amm-dot-mixin(8,2) }
.amm-dot-29{ .amm-dot-mixin(9,2) }
.amm-dot-30{ .amm-dot-mixin(0,3) }
.amm-dot-31{ .amm-dot-mixin(1,3) }
.amm-dot-32{ .amm-dot-mixin(2,3) }
.amm-dot-33{ .amm-dot-mixin(3,3) }
.amm-dot-34{ .amm-dot-mixin(4,3) }
.amm-dot-35{ .amm-dot-mixin(5,3) }
.amm-dot-36{ .amm-dot-mixin(6,3) }
.amm-dot-37{ .amm-dot-mixin(7,3) }
.amm-dot-38{ .amm-dot-mixin(8,3) }
.amm-dot-39{ .amm-dot-mixin(9,3) }
.amm-dot-40{ .amm-dot-mixin(0,4) }
.amm-dot-41{ .amm-dot-mixin(1,4) }
.amm-dot-42{ .amm-dot-mixin(2,4) }
.amm-dot-43{ .amm-dot-mixin(3,4) }
.amm-dot-44{ .amm-dot-mixin(4,4) }
.amm-dot-45{ .amm-dot-mixin(5,4) }
.amm-dot-46{ .amm-dot-mixin(6,4) }
.amm-dot-47{ .amm-dot-mixin(7,4) }
.amm-dot-48{ .amm-dot-mixin(8,4) }
.amm-dot-49{ .amm-dot-mixin(9,4) }
.amm-dot-50{ .amm-dot-mixin(0,5) }
.amm-dot-51{ .amm-dot-mixin(1,5) }
.amm-dot-52{ .amm-dot-mixin(2,5) }
.amm-dot-53{ .amm-dot-mixin(3,5) }
.amm-dot-54{ .amm-dot-mixin(4,5) }
.amm-dot-55{ .amm-dot-mixin(5,5) }
.amm-dot-56{ .amm-dot-mixin(6,5) }
.amm-dot-57{ .amm-dot-mixin(7,5) }
