<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<title>Austin Music Map</title>

	<!-- Application root. -->
	<base href="/">

	<!-- Soundcloud -->

	<script src="//connect.soundcloud.com/sdk.js"></script>
	<script>
	  	SC.initialize({
				client_id: "3b1730e670b204fc2bc9611a88461ee2",
				redirect_uri: "http://austinmusicmap.org"
			});
	</script>


	<!-- Application styles. -->
	<link rel="stylesheet" href="assets/css/reset.css">
	<link rel="stylesheet" href="assets/css/index.css">
	<link rel="stylesheet" href="assets/vendor/leaflet/dist/leaflet.css">
	<link rel="stylesheet" href="assets/vendor/zeegaplayer/dist/release/zeega.css">

</head>

<body>
	<!-- Main container. -->
	<div role="main" id="main"></div>

	<!-- Application source. -->
	<script src="assets/data/austin_neighborhoods.js"></script>
	<script src="assets/vendor/leaflet/dist/leaflet.js"></script>
	<script data-main="app/config" src="assets/js/libs/require.js"></script>
	<script src="//connect.soundcloud.com/sdk.js"></script>

		<!-- Sound Effects. -->

	<audio id='amm-static-1' src="assets/audio/static1.mp3" ></audio>
	<audio id='amm-static-2' src="assets/audio/static2.mp3" ></audio>
	<audio id='amm-static-3' src="assets/audio/static3.mp3" ></audio>
	<audio id='amm-static-4' src="assets/audio/static4.mp3" ></audio>
	<audio id='amm-static-5' src="assets/audio/static5.mp3" ></audio>


</body>
</html>
