html {
  height: 100%;
}
body {
  height: 100%;
  overflow: auto;
}
#main {
  min-width: 1160px;
  min-height: 100%;
  position: relative;
}
#appBase {
  background: #aaa;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#logo {
  left: 50%;
  margin-left: -132px;
  position: absolute;
  top: 20px;
  z-index: 30;
}
#logo img {
  width: 264px;
}
/* controls areas to left and right of window */
.controls {
  height: 52px;
  position: absolute;
  top: 34px;
  z-index: 30;
  color: #fff;
  font-family: Arial, sans-serif;
  letter-spacing: 0.3em;
}
.controls .edge {
  width: 13px;
  height: 52px;
  display: block;
  position: absolute;
  height: 52px;
  top: 0;
  background-image: url(../img/controls-edge-sprite.png);
}
.controls#controlsLeft {
  left: 0;
}
.controls#controlsLeft .edge {
  right: -13px;
  background-position: -65px;
}
.controls#controlsRight {
  right: 0;
}
.controls#controlsRight .edge {
  left: -13px;
  background-position: 0;
}
.controls .controls-inner {
  background: rgba(59, 60, 62, 0.9);
  float: left;
}
.controls .secondary-controls {
  float: left;
  height: 52px;
  background: rgba(119, 120, 123, 0.91);
  position: relative;
}
.controls .secondary-controls .edge {
  position: absolute;
  height: 52px;
  width: 26px;
  top: 0;
}
.controls#controlsLeft .secondary-controls {
  margin-right: 26px;
}
.controls#controlsLeft .secondary-controls .edge {
  margin-right: 26px;
  right: -52px;
  background-position: -117px 0;
}
.controls#controlsRight .secondary-controls {
  margin-left: 26px;
}
.controls#controlsRight .secondary-controls .edge {
  margin-left: 26px;
  left: -52px;
  background-position: -91px 0;
}
.controls .controls-inner > a,
.controls .secondary-controls > a {
  line-height: 52px;
  color: #fff;
  letter-spacing: 0.3em;
  padding: 0 4px;
  text-transform: uppercase;
  font-size: 11px;
  text-decoration: none;
  vertical-align: middle;
}
.controls .controls-inner > a {
  padding-right: 0;
}
.controls .controls-inner > a:before {
  content: "|";
  padding-right: 10px;
}
.controls .controls-inner > a:first-child {
  padding-left: 12px;
}
.controls .controls-inner > a:first-child:before {
  content: none;
}
.controls .controls-inner > a:last-child {
  padding-right: 55px;
}
.controls img {
  vertical-align: middle;
}
/* stories / remix slider - PLACEHOLDER for layout purposes */
.stories-remix-slider {
  float: left;
  width: 137px;
  height: 52px;
}
/* playlist control */
.playlist-control {
  float: left;
  overflow: hidden;
  min-width: 300px;
}
.playlist-control .toggle-playlist {
  cursor: pointer;
  float: left;
  width: 41px;
  height: 52px;
  background-image: url(../img/icon_arrow-down.png);
  background-size: 11px 8px;
  background-repeat: no-repeat;
  background-position: center center;
  border-left: 1px solid #535453;
  border-right: 1px solid #535453;
}
.playlist-control .toggle-playlist.open {
  background-image: url(../img/icon_arrow-up.png);
}
.playlist-control .now-playing {
  min-width: 155px;
  height: 43px;
  overflow: hidden;
  padding: 9px 16px 0 18px;
  float: left;
}
.playlist-control .now-playing .playing-title {
  font-size: 11px;
  text-transform: uppercase;
  margin: 0 0 4px;
}
.playlist-control .now-playing .playing-subtitle {
  font-size: 10px;
  margin: 0;
  letter-spacing: 0.1em;
}
.playlist-control .now-playing .progress-bar {
  height: 4px;
  background: #77787b;
  border-radius: 2px;
  margin-top: 6px;
  position: relative;
  cursor: pointer;
}
.playlist-control .now-playing .progress-bar .elapsed {
  border-radius: 2px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  background: #f1f1f1;
}
.playlist-control .transport {
  float: left;
  height: 52px;
  line-height: 52px;
  vertical-align: middle;
}
.playlist-control .transport .back {
  cursor: pointer;
  display: inline-block;
  width: 11px;
  height: 13px;
  background: url(../img/icon_skip-left.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.playlist-control .transport .forward {
  cursor: pointer;
  display: inline-block;
  width: 11px;
  height: 13px;
  background: url(../img/icon_skip-right.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
}
.playlist-control .transport .play-pause {
  cursor: pointer;
  display: inline-block;
  width: 22px;
  height: 26px;
  background: url(../img/icon_play-sm.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  vertical-align: middle;
}
/* playlist rollout */
.playlist-container {
  border-left: 1px solid rgba(147, 149, 152, 0.9);
  border-right: 1px solid rgba(147, 149, 152, 0.9);
  border-bottom: 1px solid rgba(147, 149, 152, 0.9);
  border-radius: 0 0 6px 6px;
  position: absolute;
  width: 293px;
  left: 137px;
  top: 52px;
  background: rgba(147, 149, 152, 0.9);
  overflow: hidden;
}
.playlist-container ul.playlist {
  border-top: 1px solid #58595b;
  border-bottom: 1px solid #58595b;
  margin-bottom: 23px;
}
.playlist-container ul.playlist li {
  line-height: 22px;
  border-top: 1px solid #58595b;
  padding-left: 18px;
  font-size: 11px;
  letter-spacing: 0.2em;
  vertical-align: middle;
}
.playlist-container ul.playlist li:first-child {
  border-top: none;
}
.playlist-container ul.playlist li.active {
  background: #f26532;
}
.playlist-container ul.playlist li .play-pause {
  display: inline-block;
  width: 7px;
  height: 10px;
  cursor: pointer;
}
.playlist-container ul.playlist li .play-pause {
  background: url(../img/icon_play-sm.png);
  background-size: 7px 9px;
  vertical-align: middle;
}
.playlist-container ul.playlist li .play-pause.pause {
  background: url(../img/icon_pause-sm.png);
  background-size: 7px 10px;
}
.playlist-container ul.playlist li .media-type {
  display: inline-block;
  width: 14px;
  height: 11px;
  vertical-align: middle;
}
.playlist-container ul.playlist li .media-type.audio {
  background: url(../img/icon_audio.png);
  background-size: 14px 11px;
}
.playlist-container ul.playlist li .media-type.video {
  background: url(../img/icon_video.png);
  background-size: 14px 11px;
}
.playlist-container .related h3 {
  padding: 12px 0 17px;
  text-align: center;
  font-size: 10px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background: url(../img/playlist-divider.png) no-repeat bottom;
}
.playlist-container .related ul {
  overflow: hidden;
  margin: 7px 0 9px;
}
.playlist-container .related ul li {
  width: 50%;
  height: 18px;
  text-align: center;
  float: left;
}
.playlist-container .related ul a {
  display: block;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: #fff;
  text-decoration: none;
}
.playlist-container .related ul a:hover {
  color: #434446;
}
/* map featured item popup */
.map-featured {
  width: 234px;
  height: 229px;
  position: absolute;
  z-index: 15;
}
.map-featured .marker {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url(../img/marker-circle.png);
  z-index: -1;
}
.map-featured .content {
  font-family: Arial, sans-serif;
  text-align: center;
  width: 218px;
  height: 218px;
  border-radius: 109px;
  margin-left: 11px;
  margin-top: 5px;
  z-index: 20;
  overflow: hidden;
  background-clip: padding-box;
}
.map-featured .content .top {
  height: 109px;
  background: rgba(39, 121, 155, 0.5);
  overflow: hidden;
}
.map-featured .content .bottom {
  height: 109px;
  background: rgba(61, 115, 138, 0.67);
  overflow: hidden;
}
.map-featured h3 {
  font-size: 10px;
  line-height: 1.5em;
  color: #f5f5f5;
  text-transform: uppercase;
  margin: 38px auto 14px;
  width: 65%;
  letter-spacing: 0.3em;
}
.map-featured .attrib {
  font-size: 9px;
  line-height: 1.5em;
  color: #f5f5f5;
  width: 85%;
  letter-spacing: 0.2em;
}
.map-featured h4 {
  font-size: 10px;
  line-height: 1.5em;
  color: #f5f5f5;
  text-transform: uppercase;
  margin: 12px auto 6px;
  width: 85%;
  letter-spacing: 0.3em;
}
.map-featured .in-playlists a {
  display: block;
  font-size: 10px;
  line-height: 1.5em;
  color: #f5f5f5;
  text-transform: uppercase;
  margin: 6px auto;
  width: 85%;
  letter-spacing: 0.3em;
  text-decoration: none;
}
.map-featured a:hover {
  color: #3c3d3f;
}

/* map featured item popup */
.map-featured {
  top: 30px;
  left: 0px;
  width: 228px;
  height: 228px;
  position: absolute;
}
.map-featured .marker {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: url(../img/marker-circle.png);
  background-position: -5px 0px;
  background-repeat: none;
  z-index: -1;
}
#marker-container {
  display: none;
}
.back-to-map {
  background: url(../img/back-to-map.png);
  background-position-y: -23px;
  width: 229px;
  height: 50px;
  display: none;
}
.map-featured .content {
  font-family: Arial, sans-serif;
  text-align: center;
  width: 218px;
  height: 218px;
  border-radius: 109px;
  margin-left: 5px;
  margin-top: 5px;
  z-index: 20;
  overflow: hidden;
  background-clip: padding-box;
}
.map-featured .content .top {
  height: 109px;
  background: rgba(39, 121, 155, 0.5);
  overflow: hidden;
}
.map-featured .content .bottom {
  height: 109px;
  background: rgba(61, 115, 138, 0.67);
  overflow: hidden;
}
.map-featured h3 {
  font-size: 10px;
  line-height: 1.5em;
  color: #f5f5f5;
  text-transform: uppercase;
  margin: 38px auto 14px;
  width: 65%;
  letter-spacing: 0.3em;
}
.map-featured .attrib {
  font-size: 9px;
  line-height: 1.5em;
  color: #f5f5f5;
  width: 85%;
  letter-spacing: 0.2em;
}
.map-featured h4 {
  font-size: 10px;
  line-height: 1.5em;
  color: #f5f5f5;
  text-transform: uppercase;
  margin: 12px auto 6px;
  width: 85%;
  letter-spacing: 0.3em;
}
.map-featured .in-playlists a {
  display: block;
  font-size: 10px;
  line-height: 1.5em;
  color: #f5f5f5;
  text-transform: uppercase;
  margin: 6px auto;
  width: 85%;
  letter-spacing: 0.3em;
  text-decoration: none;
}
.map-featured a:hover {
  color: #3c3d3f;
}
.leaflet-popup-close-button {
  display: none !important;
}
.leaflet-popup-tip {
  display: none !important;
}
.leaflet-popup-content-wrapper {
  background: transparent !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
#base-map {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.modal-overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(60, 61, 63, 0.9);
  z-index: 20;
  overflow: auto;
}
.modal-overlay .modal {
  width: 780px;
  margin: 0 auto;
  margin-top: 190px;
  position: relative;
}
.modal-overlay .modal .close-modal {
  cursor: pointer;
  position: absolute;
  right: -16px;
  top: -16px;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  background: url(../img/modal-close.png);
  border: 0;
}
.modal-overlay .modal .modal-content {
  color: #f5f5f5;
}
/* content directly in modal-content */
.modal-overlay .modal .modal-content h1 {
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 20px;
}
.modal-overlay .modal .modal-content p.intro {
  font-family: Arial, sans-serif;
  font-size: 13px;
  letter-spacing: 0.3em;
  line-height: 1.5em;
  margin: 20px 0;
  text-align: center;
  text-transform: uppercase;
}
/* info box definitions */
.modal-content .info-box {
  color: #77787B;
  padding: 27px;
}
/* tall two-up */
.modal-content .info-box-split {
  margin: 45px auto 0;
  overflow: hidden;
}
.modal-content .info-box-split .info-box {
  width: 313px;
  height: 421px;
  background: url(../img/info-box-tall.png);
}
.modal-content .info-box-split .info-box.left {
  float: left;
}
.modal-content .info-box-split .info-box.right {
  float: right;
}
/* wide */
.modal-content .info-box.wide {
  background: url(../img/info-box-wide.png);
  width: 663px;
  height: 264px;
}
/* info-box content */
.modal-content .info-box h2 {
  color: #333132;
  font-size: 18px;
  text-align: center;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 20px;
  line-height: 1.3em;
}
.modal-content .info-box p {
  letter-spacing: 0.1em;
  line-height: 1.4em;
  font-size: 13px;
  font-family: Arial, sans-serif;
}
.modal-content .info-box p.action {
  font-size: 11px;
  font-style: italic;
  text-align: center;
  margin-top: 30px;
}
.modal-content .info-box p.action a {
  color: #77787B;
}
.modal-content .info-box li {
  letter-spacing: 0.1em;
  line-height: 1.4em;
  font-size: 13px;
  font-family: Arial, sans-serif;
}
.modal-content .info-box ol li {
  list-style-type: decimal;
  margin-left: 48px;
}
.modal-content .info-box strong {
  color: #333132;
  font-weight: bold;
}
.modal-content .info-box .record-btn {
  background: url(../img/icon-record.png);
  display: block;
  margin: 30px auto;
  width: 65px;
  height: 64px;
  text-indent: -9999px;
}
.modal-overlay .modal .modal-content .info-box .call {
  margin: 35px 0 50px;
}
.modal-content .info-box .remix-sites-list {
  margin: 20px auto;
  overflow: hidden;
  text-align: center;
  width: 180px;
}
.modal-content .info-box .remix-sites-list li {
  width: 56px;
  height: 56px;
  display: inline-block;
  margin: 0 -5px;
}
.modal-content .info-box .remix-sites-list li span {
  cursor: pointer;
  width: 37px;
  height: 37px;
  display: block;
  text-indent: -9999px;
  margin: 9px auto;
  background-repeat: no-repeat;
}
.modal-content .info-box .remix-sites-list li.flickr span {
  background-image: url(../img/icon-flickr.png);
}
.modal-content .info-box .remix-sites-list li.instagram span {
  background-image: url(../img/icon-instagram.png);
}
.modal-content .info-box .remix-sites-list li.soundcloud span {
  background-image: url(../img/icon-soundcloud.png);
}
.modal-content .info-box .remix-sites-list li.vimeo span {
  background-image: url(../img/icon-vimeo.png);
}
.modal-content .info-box .remix-sites-list li.youtube span {
  background-image: url(../img/icon-youtube.png);
}
.modal-content .info-box .remix-sites-list li.active {
  background: url(../img/share-icon-outline.png);
}
