<div class="modal-textblock">
	<p>A renegade marching band floating on Lady Bird Lake. A secret performance unfolding under a bridge in East Austin. A family gospel band worshipping in a church on Koenig Lane.</p>

	<p>Austin is full of amazing musical moments. Lots of them where you least expect them.</p>

	<p>That's where you come in.</p>

	<p>The Austin Music Map is a collaboration between KUT Austin and YOU. Take us into your corner of the city. Show us a musical venue we've never heard of before. Surprise us with your favorite undiscovered musician. Let us in on Austin's best kept musical secrets.</p>

	<p>So far, people have helped us capture backyard accordion sessions, spontaneous a cappella duets, late night tango performances, and sweaty warehouse shows.</p>

	<p>So snap a picture with your cellphone or make a video or record a story about one of your favorite musical moments—and post it here. Tag your media with the venue and neighborhood where you captured it, plus any words that best describe it. Your stuff will be added to ever-growing playlists that you can experience here on the site.</p>

	<p>These playlists allow you to “play the city” in all kinds of ways—you can explore all the videos and photos gathered at a particular location or dig into playlists that trace routes across the city, cutting through many neighborhoods.</p>

	<p>With your help, we're building an interactive portrait of one of the most exciting music cities in the world.</p>

	<p><a href="#participate" >Learn how to build the map.</a></p>

	<h1>The Team</h1>
	
	<div class="section">
		<h2>Delaney Hall: Lead Producer</h2>

		<p>Delaney is an independent radio producer based in Austin, TX. She’s worked extensively with the Third Coast International Audio Festival in Chicago, where she produced Re:sound, Third Coast’s weekly remix of documentaries, music, field recordings, and found sound for Chicago Public Media. She’s reported stories about circuit benders, itinerant sound artists, early hip hop lore, little-known literary archives, and more for a variety of local, national, and international programs. Originally from Albuquerque, NM, Delaney is pleased to be back in Austin, where she lived for a time earlier this century.</p>
	</div>

	<div class="section">
		<h2>David Brown: Project Editor</h2>

		<p>David is the host and executive producer of KUT’s Texas Music Matters, a weekly mix of music news features, profiles, reviews, and tunes from deep in the heart of one of the richest musical scenes on the planet. Brown is the former anchor of the award-winning public radio business program Marketplace, and a veteran public radio journalist. He has reported national and international affairs for Monitor Radio from bases in Atlanta, Boston, London, Los Angeles, and Washington, D.C. Brown is currently completing his Ph.D. in Journalism at The University of Texas at Austin, and has been an active member of the California Bar since 2000.</p>
	</div>

	<div class="section">
		<h2>Jorge Sanhueza-lyon: Photographer/videographer</h2>

		<p>Jorge is the senior multimedia producer at KUT and a lecturer at the School of Journalism at the University of Texas in Austin. </p>
	</div>

	<div class="section">
		<h2>Haley Howle: Community Outreach And Events Coordinator</h2>

		<p>Haley Howle organizes Austin Music Map events and builds relationships with musicians, venues, listeners, fans, and cultural organizations around the city. She also hosts a music program Thursday nights on KUT 90.5 and is an Assistant Producer for KUT’s Texas Music Matters, where she produces “This Week in Texas Music History,” “The Loop”—a regular segment on Austin’s electronic music scene—and occasional documentaries and features. In March 2012, Howle and David Brown won the regional Edward R. Murrow Award for “Best Documentary” for their hour-long profile of Guy Clark. Most recently, she contributed to a special exploring women in Texas music.</p>
		<p>Howle landed her first job behind the microphone at age 16 in her hometown of Fredericksburg, Texas, and went on to study Mass Communications at Texas State University. Other loves include country dancing, good food, and spring fed swimming holes.</p>
	</div>

	<div class="section">
		<h2>Zeega: Austin Music Map Interactive Producers</h2>
		<p>Zeega is a non-profit inventing new forms of interactive storytelling. The Zeega team is an expanding mix of media-makers, artists, and creative technologists. Zeega creates projects across multiple platforms, connect digital media to physical spaces, and develop open-source tools to enable anyone to experiment with the web as a creative medium.</p>
	</div>

	<div class="section">
		<h2>Public School: Austin Music Map Designers</h2>
		<p>Public School is a group of creative folks working on the east side of Austin. Two photographers and five graphic designers doing their best to show you everyone’s best.</p>
	</div>
	<div class="section">
	<h2>AIR: LOCALORE PRODUCER</h2>
	<p><p>The Austin Music Map is part of AIR's national Localore initiative, designed to bring journalistic and technical ingenuity to extending public media service to more Americans. Sue Schardt is AIR's executive director, and the executive producer of Localore. Noland Walker is Localore's executive editor. Learn more about all 10 Localore projects at localore.net.</p>

	<p>AIR is a creative brain trust made up of more than 900 media makers from across the US and 20 countries worldwide who are re-imagining and reinventing public media and journalism for the 21st century. Its programs are designed to identify, cultivate, and deploy gifted talent for the benefit of citizens across the U.S.</p>
	</div>
	<p>Special Thanks:<br/>
	This project would not be possible without the incredible support and generosity of many individuals and organizations. Extra special thanks go to the following people: Stewart Vanderwilt, Hawk Mendenhall, David Brown, Peter Babb, Laurie Gallardo, Art Levy, Paul Carrubba, Matt Reilly, Keith Neisler, Emily Donahue, Jay Trachtenberg, David Alvarez, Sylvia Ponce-Carson, Sue Schardt, Noland Walker, Jessica Clark, Lo Audley, Lindsey Wagner, Kara Oehler, James Burns, Jesse Shapins, Joseph Bergen, Jay B. Sauceda, Brian Wood, the Third Coast crew, Cristina Balli, Deborah Esquenazi, Charlie Lockwood, Sam Jacobson, and Ryan Keisler.</p>

	<p>The Austin Music Map is produced by Delaney Hall and brought to you by KUT, Zeega, and Localore, a national initiative of the Association of Independents in Radio, Incorporated, and with financial support from the Corporation for Public Broadcasting, the Wyncote Foundation, the John D. and Catherine T. MacArthur Foundation, and the National Endowment for the Arts.</p>
	<br><br>

</div>