<p>A renegade marching band floating on Lady Bird Lake. A secret performance unfolding under a bridge in East Austin. A family gospel band worshipping in a church on Koenig Lane.</p>

<p>Austin is full of amazing musical moments. Lots of them where you least expect them.</p>

<p>That's where you come in.</p>

<p>The Austin Music Map is a collaboration between KUT Austin and YOU. Take us into your corner of the city. Show us a musical venue we've never heard of before. Blow us away with your favorite undiscovered musician. Turn us on to Austin's best kept musical secrets.</p>

<p>So far, people just like you have helped us capture backyard accordion sessions, spontaneous a cappella duets, late night tango performances, and sweaty warehouse shows.</p>

<p>So snap a picture with your cellphone or make a video—and post it here. Record a story about one of your favorite musical moments. Tag your media with the venue and neighborhood where you captured it, plus any words that best describe it. Your stuff will be added to ever-growing playlists that you can experience here on the site.</p>

<p>These playlists allow you to “play the city” in all kinds of ways—you can explore all the videos and photos gathered at a particular location or dig into playlists that trace routes across the city, cutting through many neighborhoods.</p>

<p>With your help, we're building an interactive portrait of one of the most exciting music cities in the world.</p>

<p>Learn how to get in on the action.</p>