<a class="text-link toggle-playlists" href="#">playlists</a>
<div class="all-playlists-container" style="display: none;">

	<ul class="playlists hot-playlists">
		<% _.each(playlists,function(playlist){
			if (_.contains(playlist.tags,'hotplaylist')) { %>

			<li class="<%= playlist.tags.join(' ') %>"><a href="playlist/<%= playlist.id %>"> <span class="playlist-item"><%= playlist.title.substring(0,14) %></span><% if(playlist.title.length > 14){ %>…<% } %> <span class="show-on-map"></span></a></li>

		<%	}
		}) %>
	</ul>

	<ul class="playlists">

		<% _.each(playlists,function(playlist){
			if (!_.contains(playlist.tags,'hotplaylist')) { %>

			<li class="<%= playlist.tags.join(' ') %>"><a href="playlist/<%= playlist.id %>"> <span class="playlist-item"><%= playlist.title.substring(0,14) %><% if(playlist.title.length > 14){ %>…<% } %></span> <span class="show-on-map"></span></a></li>

		<%	}
		}) %>

	</ul>
</div>