<a id="logo" href="/">
	<img src="/assets/img/amm_logo.png">
</a>
<div class="controls" id="controlsLeft">
	<!-- secondary controls area is optional -->
	<!-- must come before controls-inner in controlsLeft and after controls-inner in controlsRight -->
	<div class="secondary-controls">
		<p>test</p>
		<span class="edge"></span>
	</div>
	<div class="controls-inner"></div>
	<span class="edge"></span>
</div>
<div class="controls" id="controlsRight">
	<div class="controls-inner">
		<a href="#">Back to Map</a>
	</div>
	<div class="secondary-controls">
		<a href="#"><img src="/assets/img/kut_logo.png" width="63"></a>
		<span class="edge"></span>
	</div>
	<span class="edge"></span>
</div>
<div id="appBase"></div>