<div class="modal-textblock">
	<h1>Questions? Ideas? Story tips? Yes, please?</h1>

	<p>Want to get in touch? We'd love to hear from you. Send questions, ideas, comments, and story tips to <a href="austinmusicmap@kut.org">austinmusicmap@kut.org</a>. You can also find us on <a target="_blank" href="https://www.facebook.com/AustinMusicMap">Facebook</a>, <a target="_blank" href ="https://twitter.com/AustinMusicMap">Twitter</a>, and <a target="_blank" href="http://instagram.com/AustinMusicMap">Instagram</a>, or keep up with our progress on <a target="_blank" href="blog.austinmusicmap.com">Tumblr</a>.</p>

</div>


