<h1>Questions? Ideas? Story tips? Yes, please?</h1>
<div class="info-box wide">
	<div class="split">
		<div class="split-left">
			<label for="contactName">Name</label>
			<input id="contactName" name="contact-name" type="text" />
		</div>
		<div class="split-right">
			<label for="contactEmail">Email</label>
			<input id="contactEmail" name="contact-email" type="text" />
		</div>
	</div>

	<label for="contactMessage">Message</label>
	<textarea id="contactMessage" />
	<button class="btn-submit">Submit</button>
</div>