<div class="intro-overlay">
	<div class="intro-content">
		<div class="fade">
			<p class="large intro">With your help, we're building an interactive portrait of one of the most exciting music cities in the world.</p>
		</div>
		<div class="fade">
			<p class="large">Start by exploring the map...</p>
			<img src="assets/img/intro-map.png" width="682" height="255"/>
		</div>
		<div class="fade">
			<p class="large">Then jump into a playlist and play the city!</p>
			<p class="small">Be sure your sound is on.</p>
		</div>
		<div class="fade">
			<p class="small">Add your own photos, video and audio to playlists by tagging #austinmusicmap on YouTube, Flickr and SoundCloud!</p>
			<span class="next">Next</span>
		</div>
	</div>
</div>