
<div class="back-to-map"></div>
<div class="map-featured" >
	<div id="marker-container"></div>
	<div class="content">
		<div class="top">
			<h3><%= title %></h3>
			<span class="attrib">by <%= media_creator_username %>, 5 mins ago</span>
		</div>
		<div class="bottom">
			<h4>Play this track in:</h4>
			<ul class="in-playlists">

				<% if( playlists[0] ){ %><li><a href="/playlist/<%=playlists[0].id%>/<% if( _.include(tags, 'Story') ){ %>story<% } else{ %>remix<%}%>/<%=id%>"><%= playlists[0].attributes.title %></a></li><% } %>
				<% if( playlists[1] ){ %><li><a href="/playlist/<%=playlists[1].id%>/<% if( _.include(tags, 'Story') ){ %>story<% } else{ %>remix<%}%>/<%=id%>"><%= playlists[1].attributes.title %></a></li><% } %>
				<% if( playlists[2] ){ %><li><a href="/playlist/<%=playlists[2].id%>/<% if( _.include(tags, 'Story') ){ %>story<% } else{ %>remix<%}%>/<%=id%>"><%= playlists[2].attributes.title %></a></li><% } %>

		</div>
	</div>
</div>
