<h1>Together, we can build a whole new map of Austin music.</h1>
<p class="intro">Lead us to corners of the city we never would have known about before. Take a picture of your favorite band, record sound in a beloved haunt, let us in on the city’s best kept musical secrets.</p>
<div class="info-box-split">
	<div class="info-box left">
		<h2>Tell us a story!</h2>
		
		<p>Tell us a story about one of your favorite musical moments in Austin. Where did it happen? Why was it particularly memorable? Your story could be big or small, communal or intimate, so long as it means something to you and you can tell us why.</p>
		<div class="sc-upload"></div>
		<p class="intro">Or call <strong>512-861-8266</strong></p>
		<p class="action"><a href="#">Hear some examples</a></p>
	</div>
	<div class="info-box right">
		<h2>Remix austin! Add photos, videos and sounds!</h2>
		<ul class="remix-sites-list">
			<li class="flickr" style="display:none;"><span>Generic</span></li>
			<li class="flickr"><span>Flickr</span></li>
			<li class="instagram"><span>Instagram</span></li>
			<li class="soundcloud"><span>SoundCloud</span></li>
			<!--<li class="vimeo"><span>Vimeo</span></li>-->
			<li class="youtube"><span>YouTube</span></li>
		</ul>
		<div class="remix-sites-info">
			<div>
				<p class="intro">Tag them as you take them!</p>
				<ol>
					<li>Tag #AustinMusicMap and the #Location</li>
					<li>Geolocate the media or tag the zipcode (e.g. #78702)</li>
					<li>Add descriptive tags (e.g. #NeonSign or #Taxidermy) to help build the playlists!</li>
				</ol>
			</div>
			
			<div style="display: none;">
				<p class="intro">Flickr</p>
				<ol>
					<li>Login or <a href="http://www.flickr.com/" target="_blank">create an account</a> (it’s quick and free)</li>
					<li>Join the <a href="http://www.flickr.com/groups/austinmusicmap/" target="_blank">Austin Music Map Group</a></li>
					<li>Upload your photographs</li>
					<li>Tag your photos with austinmusicmap. This step is really important. If you don’t tag your photos properly, we will not be able to display them on our site.</li>
					<li>Add descriptive tags (e.g. #NeonSign or #Taxidermy) to help build the playlists!</li>
				</ol>
			</div>

			<div style="display: none;">
				<p class="intro">Instagram</p>
				<ol>
					<li>Download the instagram app on your phone</li>
					<li>Create your account and be sure your account is set to "public" (not "private user")</li>
					<li>Tag your instagrams with #austinmusicmap. This step is really important. If you don’t tag your instagrams properly, we will not be able to display them on our site.</li>
					<li>Add descriptive tags (e.g. #NeonSign or #Taxidermy) to help build the playlists!</li>
				</ol>
			</div>
		
			<div style="display: none;">
				<p class="intro">SoundCloud</p>
				<ol>
					<li>Login or <a href="http://soundcloud.com" target="_blank">create an account</a> (it’s quick and free)</l>
					<li>Upload your audio </li>
					<li>Change the license to Creative Commons</li>
					<li>Tag your audio with austinmusicmap. This step is really important. If you don’t tag your audio properly, we will not be able to display them on our site. </li>
					<li>Add descriptive tags (e.g. #NeonSign or #Taxidermy) to help build the playlists!</li>
				</ol>
			</div>
			<!--
			<div style="display: none;">
				<p class="intro">Vimeo info!</p>
				<ol>
					<li>Tag #AustinMusicMap and the #Location</li>
					<li>Geolocate the media or tag the zipcode (e.g. #78702)</li>
					<li>Add descriptive tags (e.g. #NeonSign or #Taxidermy) to help build the playlists!</li>
				</ol>
			</div>
			-->
			<div style="display: none;">
				<p class="intro">YouTube</p>
				<ol>
					<li>Login or <a href="http://www.youtube.com/" target="_blank">create an account</a> (it’s quick and free)</li>
					<li>Upload your videos</li>
					<li>Tag your videos with austinmusicmap. This step is really important. If you don’t tag your photos properly, we will not be able to display them on our site. </li>
					<li>Add descriptive tags (e.g. #NeonSign or #Taxidermy) to help build the playlists!</li>
				</ol>
			</div>
		</div>
		<p class="action">Select an icon above<br> for detailed instructions</p>
	</div>
</div>