<h1>Together, we can build a whole new map of Austin music.</h1>
<p class="intro">Lead us to corners of the city we never would have known about before. Take a picture of your favorite band, record sound in a beloved haunt, let us in on the city’s best kept musical secrets.</p>
<div class="info-box-split">
	<div class="info-box left">
		<h2>Tell us a story!</h2>
		<a href="#" class="record-btn">Record</a>
		<p class="intro call">Or call <strong>512-861-8266</strong></p>
		<p>Tell us a story about one of your favorite musical moments in Austin. Where did it happen? Why was it particularly memorable? Your story could be big or small, communal or intimate, so long as it means something to you and you can tell us why.</p>
		<p class="action"><a href="#">Hear some examples</a></p>
	</div>
	<div class="info-box right">
		<h2>Remix austin! Add photos,videos and sounds!</h2>
		<ul class="remix-sites-list">
			<li class="flickr active"><span>Flickr</span></li>
			<li class="instagram"><span>Instagram</span></li>
			<li class="soundcloud"><span>SoundCloud</span></li>
			<li class="vimeo"><span>Vimeo</span></li>
			<li class="youtube"><span>YouTube</span></li>
		</ul>
		<div class="remix-sites-info">
			<div>
				<p class="intro">Tag them as you take them!</p>
				<ol>
					<li>Tag #AustinMusicMap and the #Location</li>
					<li>Geolocate the media or tag the zipcode (e.g. #78702)</li>
					<li>Add descriptive tags (e.g. #NeonSign or #Taxidermy) to help build the playlists!</li>
				</ol>
			</div>
			<div style="display: none;">
				<p class="intro">Instagram info!</p>
				<ol>
					<li>Tag #AustinMusicMap and the #Location</li>
					<li>Geolocate the media or tag the zipcode (e.g. #78702)</li>
					<li>Add descriptive tags (e.g. #NeonSign or #Taxidermy) to help build the playlists!</li>
				</ol>
			</div>
			<div style="display: none;">
				<p class="intro">SoundCloud info!</p>
				<ol>
					<li>Tag #AustinMusicMap and the #Location</li>
					<li>Geolocate the media or tag the zipcode (e.g. #78702)</li>
					<li>Add descriptive tags (e.g. #NeonSign or #Taxidermy) to help build the playlists!</li>
				</ol>
			</div>
			<div style="display: none;">
				<p class="intro">Vimeo info!</p>
				<ol>
					<li>Tag #AustinMusicMap and the #Location</li>
					<li>Geolocate the media or tag the zipcode (e.g. #78702)</li>
					<li>Add descriptive tags (e.g. #NeonSign or #Taxidermy) to help build the playlists!</li>
				</ol>
			</div>
			<div style="display: none;">
				<p class="intro">YouTube info!</p>
				<ol>
					<li>Tag #AustinMusicMap and the #Location</li>
					<li>Geolocate the media or tag the zipcode (e.g. #78702)</li>
					<li>Add descriptive tags (e.g. #NeonSign or #Taxidermy) to help build the playlists!</li>
				</ol>
			</div>
		</div>
		<p class="action">Select an icon above<br> for detailed instructions</p>
	</div>
</div>