<div class='player-loader-wrapper'>
	<div class='player-loader-header clearfix'>
		<div class='col-left'><img src='assets/img/icon_record.png' class='loader-spinner' width='50px'/></div>
		<div class='col-right standard'>
			<h2>Loading all media associated with: <span class='loader-title'></span></h2>
		</div>
		<div class='col-right recent'>
			<h2>Loading all media recently added to the Austin Music Map</h2>
		</div>
	</div>
	<ul class='layer-loading'></ul>
	<div class='player-loader-footer'>
		<div class='col-left social-media-icons'>
			<img src='assets/img/icon-flickr.png'/>
			<img src='assets/img/icon-instagram.png'/>
			<img src='assets/img/icon-soundcloud.png'/>
			<!--<img src='assets/img/icon-vimeo.png'/>-->
			<img src='assets/img/icon-youtube.png'/>
		</div>
		<div class='col-right standard'>
			THIS PLAYLIST WAS CREATED BY TAGGING</br>#AUSTINMUSICMAP AND #<span class='loader-title'></span>
		</div>
		<div class='col-right recent'>
			THIS PLAYLIST WAS CREATED BY TAGGING</br>#AUSTINMUSICMAP
		</div>
	</div>
</div>