<div class="playlist-control">
	<span class="toggle-playlist"></span>
	<div class="now-playing">
		<h1 class="playing-title">Moose Lodge</h1>
		<p class="playing-subtitle">Lorem Ipsum by Delaney Hall</p>
		<div class="progress-bar"><div class="elapsed"></div></div>
	</div>
	<div class="transport">
		<span class="back"></span>
		<span class="play-pause"></span>
		<span class="forward"></span>
	</div>
</div>
<div class="playlist-container">
	<ul class="playlist">
		<li class="active">
			<span class="play-pause pause"></span>
			<span class="media-type video"></span>
			Lorem ipsum by Delaney Fall
			<span class="media-time">2:34</span>
		</li>
		<li>
			<span class="play-pause"></span>
			<span class="media-type audio"></span>
			Lorem ipsum by Delaney Fall
			<span class="media-time">2:34</span>
		</li>
		<li>
			<span class="play-pause"></span>
			<span class="media-type audio"></span>
			Lorem ipsum by Delaney Fall
			<span class="media-time">2:34</span>
		</li>
		<li>
			<span class="play-pause"></span>
			<span class="media-type video"></span>
			Lorem ipsum by Delaney Fall
			<span class="media-time">2:34</span>
		</li>
	</ul>
</div>