<div class='player-loader-wrapper'>
	<div class='player-loader-header clearfix'>
		<div class='col-left'><img src='assets/img/icon_record.png' width='50px'/></div>
		<div class='col-right'>
			<h2>LOADING: <span class='loader-title'></span></h2>
		</div>
	</div>
	<ul class='layer-loading'></ul>
	<div class='player-loader-footer'>
		<div class='col-left'>
			[social media icons]
		</div>
		<div class='col-right'>
			THIS PLAYLIST WAS CREATED BY TAGGING</br>#AUSTINMUSICMAP AND #<span class='loader-title'></span>
		</div>
	</div>
</div>