<div class="playlist-control">
	<span class="toggle-playlist"></span>
	<div class="now-playing">
		<h1 class="playing-title">Moose Lodge</h1>
		<p class="playing-subtitle">Lorem Ipsum by Delaney Hall</p>
	</div>
	<div class="transport">
		<span class="back"></span>
		<span class="play-pause"></span>
		<span class="forward"></span>
	</div>
</div>
<div class="playlist-container" style="display: none;">
	<p style="color: black;">playlist playlist playlist playlist playlist playlist playlist test test test test test test test</p>
</div>