<div class="stories-remix-slider">
	<a href='#' class='remix-toggle'>
		<span class="label stories">stories</span>
		<span class="label remix">remix</span>
		<span class="slider-track">
			<span class="slider"></span>
		</span>
	</a>
</div>
<div class="playlist-control">
	<span class="toggle-playlist"></span>
	<div class="now-playing">
		<h1 class="playing-title-wrap"><span class="playing-title"><%= playlist_title %></span></h1>
		<p class="playing-subtitle-wrap scroll-view"><span class="playing-subtitle"></span></p>
		<div class="progress-bar"><div class="elapsed"></div></div>
	</div>
	<div class="transport">
		<span class="back disabled"></span>
		<span class="play-pause"></span>
		<span class="forward disabled"></span>
	</div>
</div>
<div class="playlist-container" >
	<ul class="playlist"></ul>
	<div id="playlist-map-wrapper"></div>
	<div class="related">
		<h3>Related Playlists</h3>
		<ul>
			<li><a href="#">Conjunto</a></li>
			<li><a href="#">Lights</a></li>
			<li><a href="#">Taxidermy</a></li>
			<li><a href="#">Dancing</a></li>
		</ul>
	</div>

</div>
