
<div class="modal-textblock sc-thanks" style="display:none">
	<h1>THANKS FOR SHARING YOUR STORY!</h1>
	<p>W E ’ L L TA K E A L I S T E N A N D A D D I T T O T H E A U S T I N M U S I C M A P.</p>
	<p><a href="#participate">SHARE ANOTHER STORY</a> | <a href="#">BACK TO MAP</a></p>
</div>

<h1 class="sc-details">We need a few more details to add it to the map:</h1>
<div class="info-box wide sc-details">
	

	<div class="split">
		<div class="thanks">
			<h2>Thanks for sharing your story! We'll take a listen and add it to the Austin Music Map.</h2>
		</div>
		
		<div class="split-left form-content">
			<label for="contactName">Location</label>
			<div id="scpost-map"></div>
		</div>
		<div class="split-right form-content">
			<label for="title">Recording Title</label>
			<input id="title" name="contact-email" type="text" />
			<label for="tags">Tags</label>

			<textarea id="tags" rows="2" name="tags" ></textarea>
			<p>We've already tagged your recording with #austinmusicmap so that it will be included on the map.  Add more tags to make sure it's included in relevant playlists!</p>
		</div>
		
	</div>
	<button id="modal-btn" class="btn btn-submit">Submit</button>
</div>