<div class="sc-display clearfix">
	<a id="sc-record" href="#" class="record-btn">Record</a>

	<div class='sc-inner'>
		<p id="sc-record-progress">0:00</p>
		<p id="sc-record-status">ready to record</p>
		<div id="recording-options" style="display: none;">
			<a id="sc-upload">UPLOAD</a>
			</br></br></br>
			<a id="sc-cancel-record">redo recording</a>
		</div>
	</div>
</div>
<p id="sc-upload-status"></p>

<p class="action">
	Click the "REC" button to begin recording. A SoundCloud account is required. If you don't yet have a SoundCloud account, you'll have the opportunity to create one during the process.
</p>