<div class='rollover-title-wrapper'>
	<div class='marker-container'></div>
	<img class='rollover-thumb' src="<%= thumbnail_url %>">
	<div class='rollover-title'>
		<h2><%= title %></h2>
	</div>
	<div class='rollover-meta'>
		<h3>by <%= media_creator_username %></h3>
	</div>
</div>
<div class="map-featured" >
	<div class="content">
		<div class="top">
			<h2>Play this track in playlist:</h2>
		</div>
		<div class="bottom">
			<ul class="in-playlists">

				<% if( playlists[0] ){ %><li><a href="/playlist/<%=playlists[0].id%>/<% if( _.include(tags, 'Story') ){ %>story<% } else{ %>remix<%}%>/<%=id%>"><%= playlists[0].attributes.title %></a></li><% } %>
				<% if( playlists[1] ){ %><li><a href="/playlist/<%=playlists[1].id%>/<% if( _.include(tags, 'Story') ){ %>story<% } else{ %>remix<%}%>/<%=id%>"><%= playlists[1].attributes.title %></a></li><% } %>
				<% if( playlists[2] ){ %><li><a href="/playlist/<%=playlists[2].id%>/<% if( _.include(tags, 'Story') ){ %>story<% } else{ %>remix<%}%>/<%=id%>"><%= playlists[2].attributes.title %></a></li><% } %>
			</ul>

		</div>
	</div>
</div>